@media (max-width: 390px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .wrap {
    /* background-color: #F29D52; */
    min-width: 390px;
  }

  .container {
    width: auto;
    height: auto;
  }

  h1,
  p {
    margin: 0;
    padding: 0;
  }
  /* 좌우 여백 공통 */

.inner-container {
    padding: 0 32px;
    /* margin: 0 auto;
   
    overflow: hidden;  */
}

/* 메인 버튼 */

main button {
    width: 119px;
    height: 40px;
  
    font-family: Spoqa Han Sans Neo;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    border-radius: 40px;
    padding: 11px 24px 11px 24px;
    background-color: #d97652;
  
    border: none;
  }

  /* 헤더 */
.header-container {
    width: 390px;
}

  .header-iner {
    display: flex;
    width: 390px;
    height: 76px;

    padding: 0 20px;
  
    justify-content: space-between;
    align-items: center;
}

#mobile-menu-btn {
    width: 32px;
    height: 32px;

    margin: 22px 0;
}
.header-nav {
    display: none;
}

  
}
