* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
    /* background-color: #F29D52; */
    min-width: 1920px; 
}

.container {
  width: auto;
  height: auto;
}

h1,
p {
  margin: 0;
  padding: 0;
}

/* 좌우 여백 공통 */

.inner-container {
    margin: 0 auto;
    padding: 0 320px;
    overflow: hidden; 
}

/* 메인 버튼 */

main button {
  width: 140px;
  height: 50px;

  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  border-radius: 40px;
  padding: 15px 30px 15px 29px;
  background-color: #d97652;

  border: none;
}

.header-container,
.hero-section {
  background-color: #f2e9d8;
}
/* 헤더 */
.header-container {
    width: 100%;
}



.header-iner {
    display: flex;
    height: 102px;
  
    justify-content: space-between;
    align-items: center;
}

.logo {
  width: 130px;
  height: 40px;
}

.header-nav ul {
  display: flex;
  list-style: none;
}

.header-nav ul li a {
  text-decoration: none;
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  color: black;
}

.header-nav ul li:nth-child(1) a {
  margin-right: 30px;
}
.header-nav ul li:nth-child(2) a {
  margin-right: 30px;
}
.header-nav ul li:nth-child(3) a {
  margin-right: 40px;
}

.header-nav ul li a.cta-button {
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  border-radius: 40px;
  padding: 15px 30px 15px 29px;
  background-color: #d97652;
}

/* 탑 히어로 */

.hero-section {
    width: 100%;
}

.hero-inner{
    height: 798px;
    display: flex;
    justify-content: space-between;
}


.hero-content h1 {
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;

  width: 737px;
  height: 120px;

  margin-top: 200px;
  margin-bottom: 40px;
}

.hero-content p {
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;

  width: 439px;
  height: 86px;

  margin-bottom: 40px;
}

.hodu-img-container {
  width: 415px;
  height: 798px;
  position: relative;
}

.hodu-img-container img {
  position: absolute;
  bottom: 0;

  width: 415px;
  height: 766px;
}

/* 텍스트 줄바꿈 */
.line-break-h {
  display: block;
}

.line-break-p1 {
  display: block;
}

/* 호두 소개 */

.cat-intro {
    width: 100%;
}

.intro-inner{
    display: flex;
    align-items: center;
    gap: 110px;
  
    margin-top: 80px;
}

.cat-des h2 {
  width: 510px;
  height: 135px;

  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;

  margin-bottom: 30px;
}

.cat-des p {
  width: 510px;
  height: 40px;

  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.cat-img-container img {
  width: 660px;
  height: 390px;
  border-radius: 30px;
}

.intro-line-break1 {
  display: block;
}
.intro-line-break2 {
  display: block;
}

/*센터 텍스트*/

.highlight-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;

  margin-top: 120px;
  margin-bottom: 88px;
}

.highlight-text h2 {
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: #d97652;

  width: 929px;
  height: 60px;
}

.highlight-text p {
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 16px;

  line-height: 140%;

  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  width: 739px;
  height: 42px;
}

.highlight-text span {
  color: #d97652;
}

/* 호두갤러리 */

.cat-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 72px;
  height: 378px;
}

.gallery-tx-container {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 739px;
  height: 64px;
}

.gallery-content-container {
  display: flex;
  align-items: center;
  gap: 52px;

  margin-top: 90px;
}

.gallery-tx-container p {
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.gallery-1 img,
.gallery-2 img,
.gallery-3 img {
  border-radius: 30px;
  width: 378px;
  height: 378px;
}

.gallery-tx-container button {
  width: 147;
  height: 50;
  border-radius: 40px;

  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

/* 갤러리 설명 줄바꿈 */
.btn-nbsp {
  display: inline;
}

.gallery-line-break2 {
  display: block;
}

.gallery-line-break1 {
  display: block;
}

/* 구독 */

.subscribe-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 196px;

  width: 100%;
  height: 340px;
}

#scroll-top-btn {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 50px;
    height: 50px;

    margin: 0 24px 24px 0;
}

#scroll-top-btn:hover {
    content: url("../images/scroll-top-btn-hover.svg");
}

#subscribe-back-img {
  width: 100%;
  height: 340px;

  object-fit: cover;
}
.subscribe {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 1280px;
  height: 200px;
  background-color: #263140;

  border-radius: 30px;
  transform: translateY(-106px);
}

.subscribe-content {
  border-radius: 30px;
  margin-left: 58px;
  margin-right: 143px;
}

.subscribe-content h2 {
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-size: 36px;
  line-height: 115%;
  letter-spacing: 0%;

  color: #ffffff;

  width: 466px;
  height: 46px;

  margin-bottom: 18px;
}

.subscribe-content p {
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;

  color: white;

  width: 491px;
  height: 36px;
}

/* 구독 인풋스타일 */
.ssubscribe-input {
  display: flex;
  width: 530px;
  height: 60px;
}

.subscribe-input {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: 530px;
  height: 60px;
  border-radius: 60px;

  background-color: white;
}

.subscribe-input input {
  width: 192px;
  height: 20px;

  border: none;
  background-color: white;

  margin: 20px 129px 20px 0;
}

.email-icon {
  /* position: absolute; */
  width: 24px;
  height: 24px;
  margin: 18px 16px 18px 28px;

  display: block;
}

input::placeholder {
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.subscribe-input button {
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  width: 136px;
  height: 50px;
}

/* footer */

footer {
    width: 100%;
    height: 160px;
}
.footer-container {
    width: 100%;
    height: 100%;
}

.footer-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    width: 100%;
    height: 100%;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.social-links .icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #F29D52;

    
    z-index: 10;
    position: relative;
    
}

.social-links img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}
