* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: auto;
    height: auto;

  }

  h1,p{
    margin: 0;
    padding: 0;
  }

  /* 메인 버튼 */

  main button{
    width: 140px;
    height: 50px;

    font-family: Spoqa Han Sans Neo;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    border-radius: 40px;
    padding: 15px 30px 15px 29px;
    background-color:  #D97652;

    border: none;
  }


  .header-container,
  .hero-section{
    background-color: #F2E9D8;
  }
  /* 헤더 */
  .header-container {
    width: 100%;
    display: flex;
    
    height: 102px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
    height: 40px;
}

.header-nav ul {
    display: flex;
    list-style: none;
  }


  .header-nav ul li a {
    text-decoration: none;
    font-family: Spoqa Han Sans Neo;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

    color:black;
  }

  .header-nav ul li:nth-child(1) a {
    margin-right: 30px;
  }
  .header-nav ul li:nth-child(2) a {
    margin-right: 30px;
  }
  .header-nav ul li:nth-child(3) a {
    margin-right: 40px;
  }

  .header-nav ul li a.cta-button {
    font-family: Spoqa Han Sans Neo;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    border-radius: 40px;
    padding: 15px 30px 15px 29px;
    background-color:  #D97652;
    
  }

  /* 탑 히어로 */

.hero-section{
    
    height: 798px;
   display: flex;
   justify-content: space-between;
}

.hero-content h1 {
    font-family: Spoqa Han Sans Neo;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;

    width: 737px;
    height: 120px;

    margin-top: 200px;
    margin-bottom: 40px;

    
}

.hero-content p {

    font-family: Spoqa Han Sans Neo;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;


    width: 439px;
    height: 86px;

    margin-bottom: 40px;
}

.hodu-img-container {
    width: 415px;
    height: 798px;
    position: relative;
    background-color: #D97652;
}

.hodu-img-container img {
    background-color: aqua;
    position: absolute;
    bottom: 0;

    width: 415px;
    height: 766px;

}

/* 텍스트 줄바꿈 */
.line-break-h {
    display: block;
}

.line-break-p1{
    display: block;
}